{% extends "base.html" %}

{% block extrahead %}
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "inf0r1hnrh");
</script>
{% endblock %}

{% block container %}
  {{ super() }}

<!-- Default Statcounter code for tomar.cc www.tomar.cc -->
<script type="text/javascript">
  var sc_project=4218365; 
  var sc_invisible=1; 
  var sc_security="bd1a538c"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/4218365/0/bd1a538c/1/"
  alt="Web Analytics"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
  <!-- End of Statcounter Code -->
  
{% endblock %}

